@import "./base/fn.scss";

.user-reset {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0
}

.flow-list {

}
.flow-list__item {
  position: relative;
  padding: 10px;
  line-height: 150%;
  color: #666666;
  &:after {
    @include setBottomLine($weui-line-color-light);
    left: 10px;
  }
}
.flow-list__item_btn {
  margin: 0 5px 0 5px;
}
