.user-reset {
  z-index: 2;
  position: fixed;
  top: 40px;
  right: 0
}

.page {
  padding-bottom: 40px;
}

.btn-handler {
  margin: 10px;
}
.wx-footer {
  padding-top: 10px;
}

.bottom-menu {
  z-index: 2;
}

.weui-tabbar__label {
  font-size: 18px;
  line-height: 200%;
}
